{% extends "layout.html" %}

{% block title %}Editar Proyecto{% endblock %}

{% block body %}
<section class="content">
	<div class="col-md-6 login-form-1">
		<h3>Editar Proyecto</h3>
			<form action="proyectos" method="POST"> 
				{% if proyecto %}
				<div class="form-group">
					<label class="control-label">Nombre del Proyecto</label>
					<input type="text" class="form-control" name="ProyectoNombre" value="{{ proyecto.ProyectoNombre }}">
				</div>

				<div class="form-group">
					<label class="control-label">Empresa</label>
					<input type="text" class="form-control" name="ProyectoEmpresa" value="{{ proyecto.ProyectoEmpresa }}">
				</div>

				<div class="form-group">
					<label class="control-label">Costo</label>
					<input type="text" class="form-control" name="ProyectoCosto" value="{{ proyecto.ProyectoCosto }}">
				</div>

				<div class="form-group">
					<label class="control-label">Email</label>
					<input type="text" class="form-control" name="ProyectoEmail" value="{{ proyecto.ProyectoEmail }}">
				</div>
			
				<button type="button" class="btn btn-default" name="Back" value="Back">Cerrar</button>
				<button type="button" class="btn btn-primary" name="Actualizar" value="Actualizar">Actualizar</button>			
				{% endif %}

			</form>
	</div>
</section>
{% endblock %} 

