{% extends "layout.html" %}

{% block title %} {% endblock %}

{% block body %}
<section class="container">
  <div class="col-md-6 login-form-1">
    <h3>Login</h3>
      <form action="" method="POST"> 
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Usuario *" name="username" autofocus />
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password *" name="password" />
        </div>
        
        <div class="form-group">
          <input type="submit" class="btnSubmit" value="Login" />
        </div>
        
        <div class="form-group">
          <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>
    
      </form>
  </div>
</section>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      
{% endblock %}

